@font-face {
  font-family: 'CondensedLight';
  src: url("../fonts/TitlingGothicFBCondLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ExtendedLight';
  src: url("../fonts/TitlingGothicFBExtendedLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ExtendedThin';
  src: url("../fonts/TitlingGothicFBExtendedThin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NarrowBlack';
  src: url("../fonts/TitlingGothicFBNarrowBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NarrowLight';
  src: url("../fonts/TitlingGothicFBNarrowLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NarrowThin';
  src: url("../fonts/TitlingGothicFBNarrowThin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NormalBlack';
  src: url("../fonts/TitlingGothicFBNormalBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NormalThin';
  src: url("../fonts/TitlingGothicFBNormalThin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SkylineThin';
  src: url("../fonts/TitlingGothicFBSkylineThin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WideMedium';
  src: url("../fonts/TitlingGothicFBWideMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.sans {
  font-family: rooney-sans, calibre, corbel, "lucida sans", sans-serif;
}

.serif {
  font-family: rooney-web, cambria, constantia, palatino, serif;
}

.display {
  font-family: rb, impact, techno, sans-serif;
}

.script {
  font-family: rs, Pilgi, "Brush Script", serif;
  font-feature-settings: "dlig" on;
  -moz-font-feature-settings: "dlig" on;
  -ms-font-feature-settings: "dlig" on;
  -webkit-font-feature-settings: "dlig" on;
}

.f16 {
  font-size: 1em;
  line-height: 1.25em;
}

.f18 {
  font-size: 1.125em;
  line-height: 2.22222em;
}

.f20 {
  font-size: 1.25em;
  line-height: 2em;
}

.f24 {
  font-size: 1.5em;
  line-height: 1.66667em;
}

.f30 {
  font-size: 1.875em;
  line-height: 1.33333em;
}

.f36 {
  font-size: 2.25em;
  line-height: 1.11111em;
}

.f48 {
  font-size: 3em;
  line-height: 1.25em;
}

.f56 {
  font-size: 3.5em;
  line-height: 1.07143em;
}

.f72 {
  font-size: 4.5em;
  line-height: 1.11111em;
}

.f84 {
  font-size: 5.25em;
  line-height: 1.19048em;
}

.f96 {
  font-size: 6em;
  line-height: 1.04167em;
}

.w100 {
  font-weight: 100;
}

.w200 {
  font-weight: 200;
}

.w300 {
  font-weight: 300;
}

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.w800 {
  font-weight: 800;
}

.w900 {
  font-weight: 900;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.caps {
  text-transform: capitalize;
}

.full {
  width: 114.70588%;
  float: left;
  margin-right: 2.94118%;
}

.half {
  width: 55.88235%;
  float: left;
  margin-right: 2.94118%;
}

.quarter {
  width: 26.47059%;
  float: left;
  margin-right: 2.94118%;
}

.eighth {
  width: 11.76471%;
  float: left;
  margin-right: 2.94118%;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

html,
body {
  font-size: 16px;
  font-family: rooney-sans, calibre, corbel, "lucida sans", sans-serif;
  background-color: white;
  font-style: normal;
  font-weight: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
blockquote,
block {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #fe854e;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

input {
  border: 0 none;
}

input,
select,
textarea {
  font-family: rooney-web, cambria, constantia, palatino, serif;
  color: #1456a6;
  resize: none;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

fieldset {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 0;
  border: none;
  outline: 0;
  margin: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input:focus {
  color: #1456a6;
}

.m-25 {
  width: 22.41379%;
  float: left;
  margin-right: 3.44828%;
}
.m-25 img {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
}
.m-25:nth-of-type(4n+4) {
  float: right;
  margin-right: 0;
  overflow: hidden;
  display: inline;
}

.m-33 {
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
}
.m-33 img {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
}
.m-33:nth-of-type(3n+3) {
  float: right;
  margin-right: 0;
}

.m-50 {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
}
.m-50 img {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
}
.m-50:nth-of-type(2n+2) {
  float: right;
  margin-right: 0;
}

.m-66 {
  width: 65.51724%;
  float: right;
  margin-right: 0;
}
.m-66 img {
  width: 100%;
  float: right;
  margin-right: 0;
}

.m-100 {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
}
.m-100 img {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
}

.m-campaign {
  padding: 0 0 220px 0;
  color: #fefeff;
}

.m-campaign-display {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.3125em;
}

.m-campaign-script {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.25em;
}

.m-campaign-form {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 5em;
}

.m-campaign-field, .m-campaign-btn {
  padding: 8px 16px;
}

.m-campaign-field {
  width: 300px;
  background-color: #fefeff;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

.m-campaign-btn {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

.m-campaign-thanks {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 3.75em;
  margin-bottom: 0em;
}

.m-campaign-thanks span {
  color: #ccff00;
  font-weight: 100;
}

.m-intro-list {
  clear: both;
}

.m-intro-list li {
  list-style: none;
  width: 31.03448%;
  float: left;
  margin-right: 3.44828%;
  /*Need to find more elegant solution*/
}
.m-intro-list li:nth-of-type(3n+1) {
  float: right;
  margin-right: 0;
}
.m-intro-list li img {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
}

.m-intro-top, .m-intro-btm {
  font-size: 2.25em;
  line-height: 1.11111em;
  font-weight: 100;
}

.m-intro-top {
  margin-top: 0em;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  margin-bottom: 0em;
}

.m-intro-btm {
  margin-top: 3.75em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

.m-ma-list {
  margin-top: 1.25em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-size: 1.25em;
  line-height: 1.6em;
  text-indent: 30px;
}

.m-slides {
  margin-top: 1.875em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  overflow: hidden;
}

.m-slide-content {
  width: 100%;
  float: left;
  margin-right: 3.44828%;
}

.m-slide-content h3 {
  margin-top: 1.25em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: -0.625em;
  font-size: 2.25em;
  line-height: 1.11111em;
  font-family: rs, Pilgi, "Brush Script", serif;
}

.m-slide-content p {
  margin-top: 1.25em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-size: 1.25em;
  line-height: 2em;
  font-family: rooney-web, cambria, constantia, palatino, serif;
  font-weight: 100;
}

.m-slide-02, .m-slide-06, .m-slide-10, .m-slide-14,
.m-slide-03, .m-slide-07, .m-slide-11, .m-slide-15,
.m-slide-04, .m-slide-08, .m-slide-12, .m-slide-16 {
  display: none;
}

.m-nav {
  clear: both;
  text-align: center;
}
.m-nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.m-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}
.m-nav ul li {
  padding: 0.75em 0;
  margin-right: 2em;
  cursor: pointer;
  font-size: 1.25em;
  line-height: 2em;
  font-weight: 100;
}
.m-nav ul li:last-of-type {
  margin-right: 0;
}

.m-light {
  background: #fefeff;
  color: #1456a6;
  box-shadow: inset 0 1px 0 rgba(10, 46, 89, 0.5), inset 0 3px 12px rgba(10, 46, 89, 0.2);
}
.m-light p {
  font-weight: normal;
}
.m-light .m-active-item {
  color: #1456a6;
  border-bottom: 2px solid #fe854e !important;
}
.m-light .m-nav ul li {
  color: #1456a6;
  border-bottom: 2px solid #1456a6;
}
.m-light ul {
  font-family: rooney-web, cambria, constantia, palatino, serif;
  color: rgba(20, 86, 166, 0.75);
}

.m-dark {
  background: #1456a6;
  color: #fefeff;
  box-shadow: inset 0 1px 0 rgba(10, 46, 89, 0.5), inset 0 3px 12px rgba(10, 46, 89, 0.2);
}
.m-dark p {
  color: rgba(254, 254, 255, 0.75);
}
.m-dark .m-active-item {
  color: #fefeff;
  border-bottom: 2px solid #fe854e !important;
}
.m-dark .m-nav ul li {
  color: #fefeff;
  border-bottom: 2px solid #fefeff;
}

.m-process-intro {
  border-bottom: 1px solid rgba(20, 86, 166, 0.25);
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 3.75em;
  margin-bottom: 0em;
}

.m-process-graph {
  margin-top: 0em;
  padding-top: 3.75em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

.m-pricing h2 {
  font-size: 4.5em;
  line-height: 1.11111em;
  border-bottom: 0px solid rgba(20, 86, 166, 0.25);
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0.3125em;
  margin-bottom: 0em;
}
.m-pricing h3 {
  font-size: 1.875em;
  line-height: 1.33333em;
  margin-top: 0em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  margin-bottom: 0em;
}
.m-pricing h3:last-of-type {
  text-align: right;
  width: 100%;
  float: right;
  margin-right: 0;
}
.m-pricing h4 {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0.3125em;
  margin-bottom: 0em;
}
.m-pricing p {
  font-family: rooney-web, cambria, constantia, palatino, serif;
  font-size: 1.25em;
  line-height: 2em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 1.25em;
  margin-bottom: 0em;
}
.m-pricing ul {
  font-family: rooney-web, cambria, constantia, palatino, serif;
  color: rgba(20, 86, 166, 0.75);
}

.m-pricing-packages {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 2.5em;
  margin-bottom: 0em;
}

.m-pricing-size {
  text-align: left;
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
  font-weight: 100;
}

.m-pricing-price {
  text-align: right;
  width: 48.27586%;
  float: right;
  margin-right: 0;
  font-weight: 100;
}

.m-pricing-form {
  margin-top: 0em;
  padding-top: 2.5em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
.m-pricing-form div {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0.625em;
  margin-bottom: 0em;
}
.m-pricing-form label {
  margin-top: 0em;
  padding-top: 0.625em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
.m-pricing-form textarea {
  height: 180px;
  font-size: 1.25em;
  line-height: 1.25em;
}

.m-pricing-form label {
  font-size: 1em;
  line-height: 1.25em;
  color: rgba(20, 86, 166, 0.75);
}

.m-pricing-field {
  font-size: 1.25em;
  line-height: 2em;
  height: 40px;
  padding: 0.25em 0 0.25em 0.5em;
}

.m-pricing-btn {
  padding: 8px 16px;
  font-size: 1.125em;
  line-height: 2.22222em;
  font-family: rooney-sans, calibre, corbel, "lucida sans", sans-serif;
  font-weight: 100;
}

.m-pricing-thanks {
  font-size: 1.5em;
  line-height: 1.66667em;
  margin-top: 0em;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  margin-bottom: 0em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  clear: both;
  border: 1px solid #1456a6;
  background: rgba(20, 86, 166, 0.25);
}

.m-contact-form {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 1.25em;
  margin-bottom: 0em;
}
.m-contact-form input {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.3125em;
}

.m-contact-form label {
  color: #fefeff;
}

.m-contact-info {
  margin-top: 0em;
  padding-top: 1.25em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
.m-contact-info h3 {
  margin-top: 0em;
  padding-top: 1.25em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-size: 1.875em;
  line-height: 1.33333em;
}
.m-contact-info p {
  font-size: 1.25em;
  line-height: 2em;
}

.m-contact-btn {
  margin-top: 1.25em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

.m-contact-thanks {
  font-size: 1.5em;
  line-height: 1.66667em;
  margin-top: 0em;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  margin-bottom: 0em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-top: 200px;
  text-align: center;
  clear: both;
  border: 1px solid #1456a6;
  background: rgba(20, 86, 166, 0.25);
}

.m-footer img {
  margin-top: 0.625em;
  margin-bottom: 1.25em;
}

.m-footer ul {
  list-style: none;
}

.m-footer ul li {
  border-bottom: 1px solid rgba(254, 254, 255, 0.25);
}

.m-client-header {
  color: rgba(20, 86, 166, 0.5);
}

.m-client-list {
  clear: both;
  margin-top: 0em;
  padding-top: 2.5em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

.m-client-list li {
  list-style: none;
  width: 22.41379%;
  float: left;
  margin-right: 3.44828%;
  /*Need to find more elegant solution*/
  margin-top: 0em;
  padding-top: 0.625em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
.m-client-list li:nth-of-type(4n+3) {
  float: right;
  margin-right: 0;
}

.m-form-btn {
  background: #fe854e;
  color: #fefeff;
  border: 0 none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.m-form-btn:active {
  -webkit-box-shadow: inset 0 -1px 1px #b23801, inset 0 3px 10px #e54801;
  -moz-box-shadow: inset 0 -1px 1px #b23801, inset 0 3px 10px #e54801;
  box-shadow: inset 0 -1px 1px #b23801, inset 0 3px 10px #e54801;
}

.m-form-field {
  -webkit-box-shadow: rgba(10, 46, 89, 0.5) 0 1px 4px inset, rgba(10, 46, 89, 0.5) 0 0 0 1px inset, rgba(255, 255, 255, 0.1) 0 1px, rgba(255, 255, 255, 0.2) 0 0 0 1px;
  -moz-box-shadow: rgba(10, 46, 89, 0.5) 0 1px 4px inset, rgba(10, 46, 89, 0.5) 0 0 0 1px inset, rgba(255, 255, 255, 0.1) 0 1px, rgba(255, 255, 255, 0.2) 0 0 0 1px;
  box-shadow: rgba(10, 46, 89, 0.5) 0 1px 4px inset, rgba(10, 46, 89, 0.5) 0 0 0 1px inset, rgba(255, 255, 255, 0.1) 0 1px, rgba(255, 255, 255, 0.2) 0 0 0 1px;
}
.m-form-field::-webkit-input-placeholder {
  color: #1456a6;
}
.m-form-field:-moz-placeholder {
  color: #1456a6;
}
.m-form-field::-moz-placeholder {
  color: #1456a6;
}
.m-form-field:-ms-input-placeholder {
  color: #1456a6;
}
.m-form-field:focus::-webkit-input-placeholder {
  color: transparent;
}
.m-form-field:focus:-moz-placeholder {
  color: transparent;
}
.m-form-field:focus:-ms-input-placeholder {
  color: transparent;
}

textarea, select {
  font-size: 1.125em;
  line-height: 1.11111em;
}

textarea, input {
  border: 0 none;
  -webkit-appearance: none;
}

.m-light, .m-dark {
  padding: 80px 0;
}
.m-light p, .m-dark p {
  line-height: 1.625em;
}

.m-header h2, .m-header h3 {
  font-size: 6em;
  line-height: 1.04167em;
}

h2 {
  font-family: rb, impact, techno, sans-serif;
  text-transform: uppercase;
}

.m-header h3 {
  font-family: rs, Pilgi, "Brush Script", serif;
  text-transform: lowercase;
}
